<nav>
    <a routerLink="" class="logo">
        <span class="material-symbols-outlined logo-icon">
            potted_plant
        </span>
        Plants &amp; Co
    </a>

    <div class="nav-links">
        <a routerLink="">Home</a>
        <a routerLink="featured-plants">Shop</a>
        <a routerLink="care">Care</a>
        <a routerLink="about">About</a>
    </div>

    <div class="nav-actions">
        <a
            routerLink="cart"
            class="icon-button"
            aria-label="Cart"
        >
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
        </a>

    </div>
</nav>

<router-outlet></router-outlet>